%title= page_title()
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

= favicon_link_tag 'favicon.ico'

/ For third-generation iPad with high-resolution Retina display:
%link{:href => "/assets/apple-touch-icon-144x144.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
/ For iPhone with high-resolution Retina display:
%link{:href => "/assets/apple-touch-icon-114x114.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
/ For first- and second-generation iPad:
%link{:href => "/assets/apple-touch-icon-72x72.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
/ For non-Retina iPhone, iPod Touch, and Android 2.1+ devices:
%link{:href => "/assets/apple-touch-icon-57x57.png", :rel => "apple-touch-icon-precomposed"}/

:erb
  <script type="text/javascript">
    (function(){if(navigator.userAgent.match(/IEMobile\/10\.0/)){var d=document,c="appendChild",a=d.createElement("style");a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));d.getElementsByTagName("head")[0][c](a);}})();
  </script>
  <!--[if gt IE 8]><!--><link href="https://assets.digital.cabinet-office.gov.uk/static/application-fd496fbf9deca1e88b3a9d79ed771d11.css" media="screen" rel="stylesheet" type="text/css">
  <!--<![endif]-->
  <!--[if IE 6]><link href="https://assets.digital.cabinet-office.gov.uk/static/application-ie6-0ed704e5723ebb545ba43193a5363c33.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if IE 7]><link href="https://assets.digital.cabinet-office.gov.uk/static/application-ie7-c8a1e1a41b9d11ca4d48e7fa86c15eda.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if IE 8]><link href="https://assets.digital.cabinet-office.gov.uk/static/application-ie8-fb14ab4be18180165dc9fbfd5a0873f6.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
  <link href="https://assets.digital.cabinet-office.gov.uk/static/print-a83044adbe3290b61f0cc0cab8098a86.css" media="print" rel="stylesheet" type="text/css">

  <!--[if IE 8]>
  <script type="text/javascript">
    (function(){if(window.opera){return;}
    setTimeout(function(){var a=document,g,b={families:(g=
    ["nta"]),urls:["https://assets.digital.cabinet-office.gov.uk/static/fonts-ie8-beb10cbc00c9b7dcdbdee824962bc5f6.css"]},
    c="https://assets.digital.cabinet-office.gov.uk/static/libs/goog/webfont-debug-96870cf9f159ed811fd43c39bdf4656b.js",d="script",
    e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
    ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
    .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
    })()
  </script>
  <![endif]-->
  <!--[if gte IE 9]><!--><link href="https://assets.digital.cabinet-office.gov.uk/static/fonts-0fb6b917e34e45c93a44eec72dcc21de.css" media="all" rel="stylesheet" type="text/css"><!--<![endif]-->

  <!--[if lt IE 9]>
    <script src="https://assets.digital.cabinet-office.gov.uk/static/ie-27ccded64045ab36dbfb67c2f47c362b.js" type="text/javascript"></script>
  <![endif]-->

= stylesheet_link_tag "application", :media => "all"
