%script{:src => "http://code.jquery.com/jquery.js"}
%script{:src => "http://code.jquery.com/jquery-migrate-1.2.1.min.js"}
%script{:src => "/javascripts/main.js"}
%script{:src => "/javascripts/jquery-ui-autocomplete.js"}
%script{:src => "/javascripts/jquery.select-to-autocomplete.min.js"}
