%h1 Decisions Admin
= link_to "Add a decision", new_admin_decision_path, :class => 'button primary add-new'
%ul
  - @decisions.each do |decision|
    %li= link_to(decision.id, edit_admin_decision_path(decision))
