@import 'vars';
@import 'toolkit/stylesheets/_panels';
@import 'toolkit/stylesheets/_colours';
@import 'toolkit/stylesheets/_typography';

.add-new {
  display: inline-block;
  margin: 20px 0;
}

.login {
  fieldset {
    margin: 20px 0;
    width: 300px;

    label {
      display: block;
    }
    input[type="password"] {
      display: block;
      border: 1px solid #999999;
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 1.25;
      margin: 0;
      min-width: 8em;
      padding: 0.25em;
      width: 290px;
    }
    .button {
      clear: both;
      float: none;
      margin: 20px 0;
    }
  }
}

.new_decision,
.edit_decision {
  .row {
    clear: both;
    padding: 5px 0;
  }
  label {
    float: left;
    clear: both;
    width: 250px;
    text-align: right;
    padding-right: 10px;
  }
  input[type="text"],
  .ui-autocomplete-input {
    float: left;
    display: block;
    border: 1px solid #999999;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.25;
    margin: 0;
    min-width: 8em;
    padding: 0.25em;
    width: 290px;
  }
  .wrapper {
    float: left;
    .single {
      clear: both;
    }
    a {
      margin: 0 5px;
      display: inline-block;
    }
  }
  input[type="submit"],
  a.doclink {
    margin: 10px 0 0 260px;
  }

  .field_with_errors {
      input[type=text] {
          border-color: $red;
          border-width: 2px;
      }

      input[type=file] {
          color: $red;
      }
  }
}



// Validation scss cribbed from https://github.com/alphagov/government-service-design-manual/blob/master/service-manual/assets/stylesheets/design-patterns/_forms.scss
// Validation summary
.validation-summary {
  border: 3px solid $red;
  @include panel(lighten($mellow-red, 45%));
  h2 {
    margin-bottom: 0;
  }
  a {
    color: $red;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  ul, ol {
    color: $red;
    padding-left: 2.2em;
  }
  ul {
    li {
      list-style-type: none;
      list-style-image: none;
    }
  }
  ol {
    list-style-type: decimal;
  }
  li {
    @include core-16;
  }

}
// Inline validation messages
.validation {
  background-color: lighten($red, 45%);
  border-left: 3px solid $red;
  margin: 0 -1em 0.5em -1em;
  padding: 0.75em 1em 1em 1em;
  .validation-message {
    color: $red;
    @include core-16;
    display: block;
    padding-bottom: 0.5em;
  }
}
