@import 'vars';
@import 'toolkit/stylesheets/_colours';
@import 'toolkit/stylesheets/_css3';
@import 'toolkit/stylesheets/_typography';

/* clearfix */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
/* end clearfix */


p.sub {
  font-size: 1.4rem;
  margin-bottom: 1.9rem;
}

.button, .button:visited {
  background-color: #dcdcdc;
  color: #2e2e2e;
  @include border-radius(3px);
  @include box-shadow(0 3px 0 #959595);
  &.primary {
    background-color: #008370;
    color: #fff;
    box-shadow: 0 3px 0 #000;
  }
  &:hover {
    background-color: #7fb299;
    color: #fff;
  }
}
.left {
  float: left;
}
.right {
  float: right;
}

input[type="text"]{
  margin: 0;
}


#wrapper {
  width: 980px;
  padding: 0 30px;
  margin: auto;
  border-bottom: none;
}

.indicator {
  .alpha & {
    background-color: $alphacolour;
    color: #fff;
  }
  .beta & {
    background-color: $betacolour;
  }
  .admin & {
    background-color: $admincolour; 
    color: #fff;
    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  p {
    @include core-19;
    padding: 10px 20px;
    margin: 0;
    strong {
      text-transform: uppercase;
      .admin & {
        text-transform: none;
      }
    }
  }
}

.beta footer#footer {
  margin-top: 60px;
  border-top: 10px solid $betacolour;
}

header {
  h1 {
    @include core-48;
    margin: 48px 360px 16px 0;
    font-size: 4.2rem;
    font-weight: bold;
    line-height: 4.8rem;
    span {
      @include core-27;
      color: $grey-1;
      display: block;
    }
  }
}

#global-breadcrumb nav {
  border: none;
  margin: 0;
}

.input-append {
  width: 600px;
  padding: 25px 20px;
  background-color: #eaedef;

  label {
    @include core-19;
    font-size: 1.8rem;
  }

  input {
    width: 385px;
  }
  button {
    margin: 10px 0 0 10px;
    vertical-align: -2px;
  }
}

.pagination-row {
  clear: both;
  padding: 2em 0;
}

.page-entries {
  float: left;
}

.pagination {
  float: right;
  margin: 0;
  border: 0;

  ul {
    float: right;
  }
  li {
    display: inline;
    float: none;
    width: auto;

    a {
      display: inline;
    }
    &.next {
      float: none;
      a {
        padding: 0;
        &:before {
          background: none;
          content: none;
          display: inline;
          float: none;
          margin: 0;
          width: auto;  
        }
      }
    }

    &.disabled a {
      color: #999;
    }
    &.active a {
      font-weight: bold;
    }
  }
}

.main {
  clear: both;
  border-top: 1px solid #a1a1a1;
  padding-top: 20px;
  min-width: 980px;
}

.advanced-search {
  width: 300px;
  float: left;
  margin-right: 64px;

  label {
    display: block;
    clear: both;
  }

  .status-filter {
    label {
      display: inline;
      margin-right: 15px;
    }
  }

  h2 {
    @include core-24;
    margin: 0 0 16px 0;
    font-weight: bold;
  }

  h3 {
    @include core-19;
    font-size: 1.8rem;
    margin-top: 20px;
    font-weight: bold;
  }

  .buttons {
    margin-top: 20px;
  }

  input[type="text"],
  input[role="textbox"] {
    width: 290px;
    border: 1px solid #999;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.25;
    margin: 0;
    min-width: 8em;
    padding: 0.25em;
  }
  select {
    width: 300px;
    border: 1px solid #999;
    padding: 4px;
  }
}

.decisions {
  float: left;
  width: 614px;
}

.decisions-table {
  th, td {
    @include core-14;
    padding: 0 10px 5px;
    vertical-align: top;
  }

  th {
    font-weight: bold;
    text-align: left;
  }

  .first td {
    padding-top: 15px;
    font-size: 1.8rem;
    &.result-cell {
      font-size: 1.4rem;
    }

    a {
      font-weight: bold;
      text-decoration: none;
    }

    &.reported a {
      white-space: nowrap;
    }
  }
  .last td {
    padding-bottom: 10px;
  }

  .even td {
    background-color: #eaedef;
  }
}


.ui-autocomplete {
  padding: 0;
  list-style: none;
  background-color: #fff;
  width: 218px;
  border: 1px solid #B0BECA;
  max-height: 350px;
  overflow-y: scroll;
  .ui-menu-item {
    a {
      border-top: 1px solid #B0BECA;
      display: block;
      padding: 4px 6px;
      color: #353D44;
      cursor: pointer;
      &.ui-state-hover {
        background-color: #D5E5F4;
        color: #161A1C;
      } 
    }
    &:first-child {
      a {
        border-top: none;     
      }
    }
  }
}


.decision-details {
  margin: 20px 0;
  @include core-19;
  font-size: 1.8rem;


  dt {
    float: left;
    clear: both;
    width: 200px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  dd {
    margin-bottom: 16px;
  }
}

.download-links {
  width: 494px;
  background-color: #d5e8f4;
  background: #d5e8f4 url(../images/download.png) 513px center no-repeat;
  padding: 10px 50px 10px 16px;

  margin: 20px 0;

  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    margin: 5px 0;
  }
  a {
    color: #2c2b93;
    font-size: 1.8rem;
  }
}

.decision {
  padding-top: 20px;

  h2 {
    @include heading-36;
    font-size: 3rem;
    font-weight: bold;
  }

  .decision-inner {
    border: 3px solid #d7d7d7;
    padding: 20px;
  }
}
