<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title() %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/application.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Upper Tribunal (Immigration and Asylum Chamber) <small>Decision Database</small></h1>
      </div>

      <%= yield %>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#advanced_search').hide();
        $('.advanced_search_link').click(function() {
          $('#advanced_search').slideToggle();
          return false;
        })
      })
    </script>
  </body>
</html>
